/*DRAG HOLDER
*/
.drags-holder {
  min-height: 50px;
  background-color: #ccc;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  display: none;
}

/*DRAGS
*/
.ui-draggable,
.wjec-drop {
  text-align: center;
}

.drags-holder .ui-draggable {
  margin: 5px;
  display: none;
}

.ui-draggable {
  cursor: move;
  background: #337ab7;
  color: #FFF;
  padding: 2px 5px;
  font-size: 25px;
  white-space: nowrap;
  display: none;
}

.ui-draggable-dragging {
  background: #666;
  -webkit-box-shadow: 10px 10px 8px -1px rgba(0, 0, 0, .32);
  -moz-box-shadow: 10px 10px 8px -1px rgba(0, 0, 0, .32);
  box-shadow: 10px 10px 8px -1px rgba(0, 0, 0, .32);
}

.incorrect, .drag-incorrect {
  background-color: #9a2222 !important;
  color: #FFF !important;
}

.correct, .drag-correct {
  background-color: #3da759 !important;
  color: #FFF !important;
}

.drag-correct, .drag-incorrect {
  border: none !important;
}

.fa-times, .fa-check, .showAnswersBtn {
  display: none;
}

.correct-text {
  background: #3da759;
  color: #FFF;
  text-align: center;
  padding: 1px 2px;
  font-size: 16px;
}

/*DROPS
*/
.wjec-drag-and-drop-text .ui-droppable, .correct-text {
  width: 90px;
  position: relative;
  height: 40px;
  vertical-align: middle;
  display: none;
}

.correct-text {
  display: inline-block;
}

.wjec-drag-and-drop-text .ui-droppable {
  background: #337ab7;
  display: none;
}

.wjec-drag-and-drop-text p, .correct-answers p {
  line-height: 2em;
  font-size: 16px;
}

.drag-and-drop-text p .drop {
  line-height: 1.8em;
}

/*FEEDBACK*/
.feedback {
  visibility: hidden;
  min-height: 3em;
}

.feedback h4, .user-answers-header, .correct-answers, .resetBtn {
  display: none;
}

.modal p {
  font-size: 16px;
}

.correct-answers-content {
  max-height: 150px;
  overflow-y: scroll;
}

@media (min-width: 768px){
  .drags-holder {
    display: block;
  }
  
  .wjec-drag-and-drop-text, .correct-answers-content {
    max-height: none !important;
    overflow: visible;
    overflow-y: visible !important;
  }
  
  .wjec-drag-and-drop-text .ui-droppable {
    display: none;

  }
  
  .dropdown {
    background-color: beige;
    color: black
  }
  .wjec-drop{
    display: none;
  }
  
  .ui-droppable {
    display: inline-block;
  }
}

#gradient {
  z-index: -1;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  color: #fff;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
          animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.float1{
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  background-color:#0C9;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  box-shadow: 2px 2px 3px #999;
}

.my-float1{
  margin-top:22px;
}