            /* Style for grid cells */
            .rf-tgrid {
                
                font-family: Arial;
                font-weight: normal;
                font-size: 25px;
                margin: 1px;
                padding: 8px;
                color: black;
            /*    border: 1px solid bisque;*/
                vertical-align: middle;
                text-align: center;

            }

            /* Style for the grid */
            .rf-tablestyle {
                border: 2px solid;
                border-color: #2F4F4F;
                background-color: #008eb3;
                cursor: pointer;
                height: 700px;
                width: 700px;
                opacity:0.8;
  filter: alpha(opacity=50);

            }

            /* Style for the div containing the grid */
            #rf-searchgamecontainer {
                float: left;
                padding-right: 50px; 
            }

            /* Style for the div containing the word list */
            #rf-wordcontainer {
                font-family: Arial,sans-serif;
                font-weight: normal;
                font-size: 25px;
                float :left;
                color: white;
                padding-right: 10px; 
                cursor: default;
                margin : 1em 1em 1em 0;
                width : 300px;  
                border: 2px solid;
                border-color: black;
                background-color: #e73c7e;
                cursor: pointer;  
                opacity:0.8;
  filter: alpha(opacity=50);  
            }

            /* Style for the words that have been found */
            .rf-foundword {
                font-family: Arial,sans-serif;
                text-decoration : line-through;
                color : darkslategray;                
            }

            #rf-tablegrid .rf-armed {
            /*  background: lightcyan;*/
            }

            #rf-tablegrid .rf-highlight {
                background: #f4656d;
            }


            #rf-tablegrid .rf-glowing {
                background: #e4dbbe;
                    
            }

            #rf-tablegrid .rf-selected {
                background: #00ffff;
            }

            /* style for words that didn't make it on the grid */
            .rf-pfalse {
                color: #111;
                visibility: hidden; 
            }




#gradient {
  z-index: -1;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  color: #fff;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
          animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.float1{
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  background-color:#0C9;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  box-shadow: 2px 2px 3px #999;
}

.my-float1{
  margin-top:22px;
}