h2 {
  color: #a7a3a4;
  margin-left: 80px;
}

#howdy{
	height: 0px;
	width: 200px;
	margin: 25px;
	background-color: gainsboro;
}

[data-drop-target] {
			height: 100px;
			width: 100px;
			margin: 25px;
			background-color: gainsboro;
		}
		.drag-enter {
			border: 2px dashed #000;
		}
		.box {
			width: 100px;
			height: 100px;
			background-color: white;
      float: left;
		}
    .box:nth-child(3) {
      clear: both;
    }
		.navy {
			background-color: navy;
		}
		.red {
			background-color: firebrick;
		}
    .green {
			background-color: darkgreen;
		}
		.orange {
			background-color: orange;
		}
		.fish{
			 background-image: url("../fish.png");
			 background-repeat: no-repeat;
			 background-size: cover;
		}
		.dog{
			 background-image: url("../dog.png");
			 background-repeat: no-repeat;
			 background-size: cover;
		}
		.spider{
			 background-image: url("../spider.png");
			 background-repeat: no-repeat;
			 background-size: cover;
		}
		.bird{
			 background-image: url("../bird.png");
			 background-repeat: no-repeat;
			 background-size: cover;
		}
		.frog{
			 background-image: url("../frog.png");
			 background-repeat: no-repeat;
			 background-size: cover;
		}

		#gradient {
  z-index: -1;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  color: #fff;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
          animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.float1{
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  background-color:#0C9;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  box-shadow: 2px 2px 3px #999;
}

.my-float1{
  margin-top:22px;
}